---
http_interactions:
- request:
    method: post
    uri: https://demo.getvendo.com/api/v2/storefront/cart/add_item
    body:
      encoding: UTF-8
      string: '{"variant_id":"980a80d5-f51b-4065-b3a0-622fc5cb6bf6","quantity":5,"public_metadata":{"total_weight":3250},"private_metadata":{"had_same_cart_items":true}}'
    headers:
      Authorization:
      - Bearer Uas3kLdWXtmLdQWrBvUI2mVFte97qPXIhYziugn7iUE
      Content-Type:
      - application/json
      X-Vendo-Order-Token:
      - Order token
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"The resource you were looking for could not be found."}'
  recorded_at: Sat, 16 Apr 2022 07:39:17 GMT
recorded_with: VCR 6.1.0
