---
http_interactions:
- request:
    method: post
    uri: https://demo.getvendo.com/api/v2/storefront/cart
    body:
      encoding: UTF-8
      string: '{"public_metadata":{"total_weight":3250},"private_metadata":{"had_same_cart_items":true}}'
    headers:
      Authorization:
      - Bearer Uas3kLdWXtmLdQWrBvUI2mVFte97qPXIhYziugn7iUE
      Content-Type:
      - application/json
      X-Vendo-Order-Token:
      - Order token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"e616334b19cbcc9f126f19e824918d93"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"f4495c31-e87c-4ea5-825c-410436aee1a6","type":"cart","attributes":{"number":"R861368695","item_total":"0.0","total":"0.0","ship_total":"0.0","adjustment_total":"0.0","created_at":"2022-04-12T11:20:33.525-05:00","updated_at":"2022-04-12T11:20:33.525-05:00","completed_at":null,"included_tax_total":"0.0","additional_tax_total":"0.0","display_additional_tax_total":"$0.00","display_included_tax_total":"$0.00","tax_total":"0.0","currency":"USD","state":"cart","token":"QJ1_FD5JFKong4YxuIt55w1649780433489","email":"vendo@example.com","display_item_total":"$0.00","display_ship_total":"$0.00","display_adjustment_total":"$0.00","display_tax_total":"$0.00","promo_total":"0.0","display_promo_total":"$0.00","item_count":0,"special_instructions":null,"display_total":"$0.00","pre_tax_item_amount":"0.0","display_pre_tax_item_amount":"$0.00","pre_tax_total":"0.0","display_pre_tax_total":"$0.00","shipment_state":null,"payment_state":null,"public_metadata":{}},"relationships":{"line_items":{"data":[]},"variants":{"data":[]},"promotions":{"data":[]},"payments":{"data":[]},"shipments":{"data":[]},"user":{"data":{"id":"890ad4b6-8359-4413-8cc3-c444532e01b3","type":"user"}},"billing_address":{"data":null},"shipping_address":{"data":null}}}}'
  recorded_at: Sat, 16 Apr 2022 07:14:36 GMT
recorded_with: VCR 6.1.0
