---
http_interactions:
- request:
    method: get
    uri: https://demo.getvendo.com/api/v2/storefront/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Uas3kLdWXtmLdQWrBvUI2mVFte97qPXIhYziugn7iUE
      Content-Type:
      - application/json
      X-Vendo-Order-Token:
      - Order token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Etag:
      - W/"8e5ee1febad8ca649494287d2eaab76d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"890ad4b6-8359-4413-8cc3-c444532e01b3","type":"user","attributes":{"email":"vendo@example.com","first_name":"joseph","last_name":"gwaka","public_metadata":{},"store_credits":0,"completed_orders":0},"relationships":{"default_billing_address":{"data":null},"default_shipping_address":{"data":null}}}}'
  recorded_at: Sat, 16 Apr 2022 06:57:53 GMT
recorded_with: VCR 6.1.0
