---
http_interactions:
- request:
    method: post
    uri: https://demo.getvendo.com/spree_oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"vendo@example.com","password":"vendo123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      X-Vendo-Order-Token:
      - Order token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fbde159bb600c7c9e6fabadf74a40e4d"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"aAoin5s2AEZGuaMGW9CQKC_TLW4izsyAYN89AJvIgnQ","token_type":"Bearer","expires_in":7200,"refresh_token":"GZHhJlFcDL6k4Es4z34ptxcWtkUfjkTO8klZTedPmaI","created_at":1650087615}'
  recorded_at: Sat, 16 Apr 2022 05:40:16 GMT
recorded_with: VCR 6.1.0
