---
http_interactions:
- request:
    method: post
    uri: https://demo.getvendo.com/spree_oauth/token
    body:
      encoding: UTF-8
      string: '{"grant_type":"password","username":"vendo@example.com","password":"vendo123"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer
      X-Vendo-Order-Token:
      - Order token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bc4edeb5250ab558e15bbddc71449a17"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"Uas3kLdWXtmLdQWrBvUI2mVFte97qPXIhYziugn7iUE","token_type":"Bearer","expires_in":7200,"refresh_token":"Eer7Qw0y8SHDPRWovObU2WxZJjaGUmOV2PWVWlGd-e0","created_at":1650092096}'
  recorded_at: Sat, 16 Apr 2022 06:54:56 GMT
recorded_with: VCR 6.1.0
